<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #test1{


      background-color: #000;
      width: 100px;
      height: 100px;
    }
     #test2{


      background-color: #654;
      width: 100px;
      height: 100px;
    }
  </style>
</head>

<body>

<div id="test">
  <div id="test1" v-for="item in arr" v-if="item.isShow"></div>
  <div id="test2" v-else></div>


</div>





  <script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
  <script>
   
    new Vue({
      el: "#test",
      data:{
        arr:[
          {
              isShow:true
            
          },
           {
              isShow:false
            
          },
           {
              isShow:true
            
          },
           {
              isShow:false
            
          }


        ]




      }
    })
    


  </script>

</body>

</html>